.muitoggle {
    color: white !important;
    margin:0px;
    padding:0px;
}

.buttongroup{
    border: 2px solid gray !important;
    margin-top:10px;
    margin-bottom:15px;
}

.buttongroup .Mui-selected {
    border: 2px solid #4CAF50 !important;
    color: white !important;
}